swagger: "2.0"

info:
  description: "API definition for Kleister, manage mod packs for Minecraft"
  title: "Kleister OpenAPI"
  version: "1.0.0-alpha1"
  license:
    name: "Apache-2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"

consumes:
  - "application/json"

produces:
  - "application/json"

schemes:
  - "http"
  - "https"

host: "try.kleister.tech"
basePath: "/api/v1"

securityDefinitions:
  BasicAuth:
    type: basic
  HeaderAuth:
    type: apiKey
    in: header
    name: X-API-Key

paths:
  /auth/verify/{token}:
    get:
      summary: "Verify validity for an authentication token"
      operationId: "VerifyAuth"
      tags:
        - "auth"
      parameters:
        - in: "path"
          name: "token"
          description: "A token that have to be checked"
          type: "string"
          required: true
      security: []
      responses:
        200:
          description: "Meta data of the provided token"
          schema:
            $ref: "#/definitions/auth_verify"
        401:
          description: "Unauthorized if token is invalid"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /auth/refresh:
    get:
      summary: "Refresh an auth token before it expires"
      operationId: "RefreshAuth"
      tags:
        - "auth"
      security: []
      responses:
        200:
          description: "A refreshed token with expire"
          schema:
            $ref: "#/definitions/auth_token"
        401:
          description: "Unauthorized if failed to generate"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /auth/login:
    post:
      summary: "Authenticate an user by credentials"
      operationId: "LoginUser"
      tags:
        - "auth"
      parameters:
        - in: "body"
          name: "auth_login"
          description: "The credentials to authenticate"
          required: true
          schema:
            $ref: "#/definitions/auth_login"
      security: []
      responses:
        200:
          description: "A generated token with expire"
          schema:
            $ref: "#/definitions/auth_token"
        401:
          description: "Unauthorized if wrong credentials"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /profile/token:
    get:
      summary: "Retrieve an unlimited auth token"
      operationId: "TokenProfile"
      tags:
        - "profile"
      responses:
        200:
          description: "The unlimited auth token"
          schema:
            $ref: "#/definitions/auth_token"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        500:
          description: "Failed to generate a token"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /profile/self:
    get:
      summary: "Retrieve an unlimited auth token"
      operationId: "ShowProfile"
      tags:
        - profile
      responses:
        200:
          description: "The current profile data"
          schema:
            $ref: "#/definitions/profile"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    put:
      summary: "Retrieve an unlimited auth token"
      operationId: "UpdateProfile"
      tags:
        - "profile"
      parameters:
        - in: "body"
          name: "profile"
          description: "The profile data to update"
          required: true
          schema:
            $ref: "#/definitions/profile"
      responses:
        200:
          description: "The updated profile data"
          schema:
            $ref: "#/definitions/profile"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Failed to validate request"
          schema:
            $ref: "#/definitions/validation_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /minecraft:
    get:
      summary: "Fetch the available Minecraft versions"
      operationId: "ListMinecrafts"
      tags:
        - "minecraft"
      responses:
        200:
          description: "A collection of Minecraft versions"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/minecraft"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    put:
      summary: "Update the available Minecraft versions"
      operationId: "UpdateMinecraft"
      tags:
        - "minecraft"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        503:
          description: "If remote source is not available"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /minecraft/{minecraft_id}:
    get:
      summary: "Search for available Minecraft versions"
      operationId: "SearchMinecrafts"
      tags:
        - "minecraft"
      parameters:
        - in: "path"
          name: "minecraft_id"
          description: "A search token to search Minecraft versions"
          type: "string"
          required: true
      responses:
        200:
          description: "A collection of Minecraft versions"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/minecraft"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /minecraft/{minecraft_id}/builds:
    get:
      summary: "Fetch the builds assigned to a Minecraft version"
      operationId: "ListMinecraftBuilds"
      tags:
        - "minecraft"
      parameters:
        - in: "path"
          name: "minecraft_id"
          description: "A minecraft UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "A collection of assigned builds"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/build"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    post:
      summary: "Assign a build to a Minecraft version"
      operationId: "AppendMinecraftToBuild"
      tags:
        - "minecraft"
      parameters:
        - in: "path"
          name: "minecraft_id"
          description: "A minecraft UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "minecraft_build"
          description: "The build data to append"
          required: true
          schema:
            $ref: "#/definitions/minecraft_build_params"
      responses:
        200:
          description: "A collection of assigned builds"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/build"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Build is already appended"
          schema:
            $ref: "#/definitions/validation_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    delete:
      summary: "Unlink a build from a Minecraft version"
      operationId: "DeleteMinecraftFromBuild"
      tags:
        - "minecraft"
      parameters:
        - in: "path"
          name: "minecraft_id"
          description: "A minecraft UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "minecraft_build"
          description: "The build data to unlink"
          required: true
          schema:
            $ref: "#/definitions/minecraft_build_params"
      responses:
        200:
          description: "A collection of assigned builds"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/build"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Build is not assigned"
          schema:
            $ref: "#/definitions/validation_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /forge:
    get:
      summary: "Fetch the available Forge versions"
      operationId: "ListForges"
      tags:
        - "forge"
      responses:
        200:
          description: "A collection of Forge versions"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/forge"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    put:
      summary: "Update the available Forge versions"
      operationId: "UpdateForge"
      tags:
        - "forge"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        503:
          description: "If remote source is not available"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /forge/{forge_id}:
    get:
      summary: "Search for available Forge versions"
      operationId: "SearchForges"
      tags:
        - "forge"
      parameters:
        - in: "path"
          name: "forge_id"
          description: "A search token to search Forge versions"
          type: "string"
          required: true
      responses:
        200:
          description: "A collection of Forge versions"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/forge"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /forge/{forge_id}/builds:
    get:
      summary: "Fetch the builds assigned to a Forge version"
      operationId: "ListForgeBuilds"
      tags:
        - "forge"
      parameters:
        - in: "path"
          name: "forge_id"
          description: "A forge UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "A collection of assigned builds"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/build"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    post:
      summary: "Assign a build to a Forge version"
      operationId: "AppendForgeToBuild"
      tags:
        - "forge"
      parameters:
        - in: "path"
          name: "forge_id"
          description: "A forge UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "forge_build"
          description: "The build data to append"
          required: true
          schema:
            $ref: "#/definitions/forge_build_params"
      responses:
        200:
          description: "A collection of assigned builds"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/build"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Build is already appended"
          schema:
            $ref: "#/definitions/validation_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    delete:
      summary: "Unlink a build from a Forge version"
      operationId: "DeleteForgeFromBuild"
      tags:
        - "forge"
      parameters:
        - in: "path"
          name: "forge_id"
          description: "A forge UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "forge_build"
          description: "The build data to unlink"
          required: true
          schema:
            $ref: "#/definitions/forge_build_params"
      responses:
        200:
          description: "A collection of assigned builds"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/build"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Build is not assigned"
          schema:
            $ref: "#/definitions/validation_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /packs:
    get:
      summary: "Fetch all available packs"
      operationId: "ListPacks"
      tags:
        - "pack"
      responses:
        200:
          description: "A collection of packs"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/pack"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    post:
      summary: "Create a new pack"
      operationId: "CreatePack"
      tags:
        - "pack"
      parameters:
        - in: "body"
          name: "pack"
          description: "The pack data to create"
          required: true
          schema:
            $ref: "#/definitions/pack"
      responses:
        200:
          description: "The created pack data"
          schema:
            $ref: "#/definitions/pack"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Failed to validate request"
          schema:
            $ref: "#/definitions/validation_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /packs/{pack_id}:
    get:
      summary: "Fetch a specific pack"
      operationId: "ShowPack"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "The fetched pack details"
          schema:
            $ref: "#/definitions/pack"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    put:
      summary: "Update a specific pack"
      operationId: "UpdatePack"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "pack"
          description: "The pack data to update"
          required: true
          schema:
            $ref: "#/definitions/pack"
      responses:
        200:
          description: "The updated pack details"
          schema:
            $ref: "#/definitions/pack"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Failed to validate request"
          schema:
            $ref: "#/definitions/validation_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    delete:
      summary: "Delete a specific pack"
      operationId: "DeletePack"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        400:
          description: "Failed to delete the pack"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /packs/{pack_id}/users:
    get:
      summary: "Fetch all users assigned to pack"
      operationId: "ListPackUsers"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "A collection of pack users"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/user_pack"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    post:
      summary: "Assign a user to pack"
      operationId: "AppendPackToUser"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "pack_user"
          description: "The pack user data to assign"
          required: true
          schema:
            $ref: "#/definitions/pack_user_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "User is already assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    put:
      summary: "Update user perms for pack"
      operationId: "PermitPackUser"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "pack_user"
          description: "The pack user data to update"
          required: true
          schema:
            $ref: "#/definitions/pack_user_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "User is not assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    delete:
      summary: "Remove a user from pack"
      operationId: "DeletePackFromUser"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "pack_user"
          description: "The pack user data to delete"
          required: true
          schema:
            $ref: "#/definitions/pack_user_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "User is not assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /packs/{pack_id}/teams:
    get:
      summary: "Fetch all teams assigned to pack"
      operationId: "ListPackTeams"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "A collection of pack teams"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/team_pack"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    post:
      summary: "Assign a team to pack"
      operationId: "AppendPackToTeam"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "pack_team"
          description: "The pack team data to assign"
          required: true
          schema:
            $ref: "#/definitions/pack_team_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Team is already assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    put:
      summary: "Update team perms for pack"
      operationId: "PermitPackTeam"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "pack_team"
          description: "The pack team data to update"
          required: true
          schema:
            $ref: "#/definitions/pack_team_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Team is not assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    delete:
      summary: "Remove a team from pack"
      operationId: "DeletePackFromTeam"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "pack_team"
          description: "The pack team data to delete"
          required: true
          schema:
            $ref: "#/definitions/pack_team_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Team is not assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /packs/{pack_id}/builds:
    get:
      summary: "Fetch all available builds for a pack"
      operationId: "ListBuilds"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "A collection of builds"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/build"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    post:
      summary: "Create a new build for a pack"
      operationId: "CreateBuild"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "build"
          description: "The build data to create"
          required: true
          schema:
            $ref: "#/definitions/build"
      responses:
        200:
          description: "The created build data"
          schema:
            $ref: "#/definitions/build"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Failed to validate request"
          schema:
            $ref: "#/definitions/validation_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /packs/{pack_id}/builds/{build_id}:
    get:
      summary: "Fetch a specific build for a pack"
      operationId: "ShowBuild"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack UUID or slug"
          type: "string"
          required: true
        - in: "path"
          name: "build_id"
          description: "A build UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "The fetched build details"
          schema:
            $ref: "#/definitions/build"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    put:
      summary: "Update a specific build for a pack"
      operationId: "UpdateBuild"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack UUID or slug"
          type: "string"
          required: true
        - in: "path"
          name: "build_id"
          description: "A build UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "build"
          description: "The build data to update"
          required: true
          schema:
            $ref: "#/definitions/build"
      responses:
        200:
          description: "The updated build details"
          schema:
            $ref: "#/definitions/build"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Failed to validate request"
          schema:
            $ref: "#/definitions/validation_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    delete:
      summary: "Delete a specific build for a pack"
      operationId: "DeleteBuild"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack UUID or slug"
          type: "string"
          required: true
        - in: "path"
          name: "build_id"
          description: "A build UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        400:
          description: "Failed to delete the build"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /packs/{pack_id}/builds/{build_id}/versions:
    get:
      summary: "Fetch all versions assigned to build"
      operationId: "ListBuildVersions"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack UUID or slug"
          type: "string"
          required: true
        - in: "path"
          name: "build_id"
          description: "A build UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "A collection of build versions"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/build_version"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    post:
      summary: "Assign a version to a build"
      operationId: "AppendBuildToVersion"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack UUID or slug"
          type: "string"
          required: true
        - in: "path"
          name: "build_id"
          description: "A build UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "build_version"
          description: "The version data to append to build"
          required: true
          schema:
            $ref: "#/definitions/build_version_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Version is already appended"
          schema:
            $ref: "#/definitions/validation_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    delete:
      summary: "Unlink a version from a build"
      operationId: "DeleteBuildFromVersion"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack UUID or slug"
          type: "string"
          required: true
        - in: "path"
          name: "build_id"
          description: "A build UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "build_version"
          description: "The version data to unlink from build"
          required: true
          schema:
            $ref: "#/definitions/build_version_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        400:
          description: "Failed to unlink version"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /mods:
    get:
      summary: "Fetch all available mods"
      operationId: "ListMods"
      tags:
        - "mod"
      responses:
        200:
          description: "A collection of mods"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/mod"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    post:
      summary: "Create a new mod"
      operationId: "CreateMod"
      tags:
        - "mod"
      parameters:
        - in: "body"
          name: "mod"
          description: "The mod data to create"
          required: true
          schema:
            $ref: "#/definitions/mod"
      responses:
        200:
          description: "The created mod data"
          schema:
            $ref: "#/definitions/mod"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Failed to validate request"
          schema:
            $ref: "#/definitions/validation_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /mods/{mod_id}:
    get:
      summary: "Fetch a specific mod"
      operationId: "ShowMod"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "The fetched mod details"
          schema:
            $ref: "#/definitions/mod"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    put:
      summary: "Update a specific mod"
      operationId: "UpdateMod"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "mod"
          description: "The mod data to update"
          required: true
          schema:
            $ref: "#/definitions/mod"
      responses:
        200:
          description: "The updated mod details"
          schema:
            $ref: "#/definitions/mod"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Failed to validate request"
          schema:
            $ref: "#/definitions/validation_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    delete:
      summary: "Delete a specific mod"
      operationId: "DeleteMod"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        400:
          description: "Failed to delete the mod"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /mods/{mod_id}/users:
    get:
      summary: "Fetch all users assigned to mod"
      operationId: "ListModUsers"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "A collection of mod users"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/user_mod"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    post:
      summary: "Assign a user to mod"
      operationId: "AppendModToUser"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "mod_user"
          description: "The mod user data to assign"
          required: true
          schema:
            $ref: "#/definitions/mod_user_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "User is already assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    put:
      summary: "Update user perms for mod"
      operationId: "PermitModUser"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "mod_user"
          description: "The mod user data to update"
          required: true
          schema:
            $ref: "#/definitions/mod_user_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "User is not assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    delete:
      summary: "Remove a user from mod"
      operationId: "DeleteModFromUser"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "mod_user"
          description: "The mod user data to delete"
          required: true
          schema:
            $ref: "#/definitions/mod_user_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "User is not assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /mods/{mod_id}/teams:
    get:
      summary: "Fetch all teams assigned to mod"
      operationId: "ListModTeams"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "A collection of mod teams"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/team_mod"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    post:
      summary: "Assign a team to mod"
      operationId: "AppendModToTeam"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "mod_team"
          description: "The mod team data to assign"
          required: true
          schema:
            $ref: "#/definitions/mod_team_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Team is already assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    put:
      summary: "Update team perms for mod"
      operationId: "PermitModTeam"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "mod_team"
          description: "The mod team data to update"
          required: true
          schema:
            $ref: "#/definitions/mod_team_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Team is not assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    delete:
      summary: "Remove a team from mod"
      operationId: "DeleteModFromTeam"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "mod_team"
          description: "The mod team data to delete"
          required: true
          schema:
            $ref: "#/definitions/mod_team_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Team is not assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /mods/{mod_id}/versions:
    get:
      summary: "Fetch all available versions for a mod"
      operationId: "ListVersions"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "A collection of versions"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/version"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    post:
      summary: "Create a new version for a mod"
      operationId: "CreateVersion"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "version"
          description: "The version data to create"
          required: true
          schema:
            $ref: "#/definitions/version"
      responses:
        200:
          description: "The created version data"
          schema:
            $ref: "#/definitions/version"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Failed to validate request"
          schema:
            $ref: "#/definitions/validation_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /mods/{mod_id}/versions/{version_id}:
    get:
      summary: "Fetch a specific version for a mod"
      operationId: "ShowVersion"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod UUID or slug"
          type: "string"
          required: true
        - in: "path"
          name: "version_id"
          description: "A version UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "The fetched version details"
          schema:
            $ref: "#/definitions/version"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    put:
      summary: "Update a specific version for a mod"
      operationId: "UpdateVersion"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod UUID or slug"
          type: "string"
          required: true
        - in: "path"
          name: "version_id"
          description: "A version UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "version"
          description: "The version data to update"
          required: true
          schema:
            $ref: "#/definitions/version"
      responses:
        200:
          description: "The updated version details"
          schema:
            $ref: "#/definitions/version"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Failed to validate request"
          schema:
            $ref: "#/definitions/validation_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    delete:
      summary: "Delete a specific version for a mod"
      operationId: "DeleteVersion"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod UUID or slug"
          type: "string"
          required: true
        - in: "path"
          name: "version_id"
          description: "A version UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        400:
          description: "Failed to delete the version"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /mods/{mod_id}/versions/{version_id}/builds:
    get:
      summary: "Fetch all builds assigned to version"
      operationId: "ListVersionBuilds"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod UUID or slug"
          type: "string"
          required: true
        - in: "path"
          name: "version_id"
          description: "A version UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "A collection of version builds"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/build_version"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    post:
      summary: "Assign a build to a version"
      operationId: "AppendVersionToBuild"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod UUID or slug"
          type: "string"
          required: true
        - in: "path"
          name: "version_id"
          description: "A version UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "version_build"
          description: "The build data to append to version"
          required: true
          schema:
            $ref: "#/definitions/version_build_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Build is already appended"
          schema:
            $ref: "#/definitions/validation_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    delete:
      summary: "Unlink a build from a version"
      operationId: "DeleteVersionFromBuild"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod UUID or slug"
          type: "string"
          required: true
        - in: "path"
          name: "version_id"
          description: "A version UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "version_build"
          description: "The build data to unlink from version"
          required: true
          schema:
            $ref: "#/definitions/version_build_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        400:
          description: "Failed to unlink build"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /teams:
    get:
      summary: "Fetch all available teams"
      operationId: "ListTeams"
      tags:
        - "team"
      responses:
        200:
          description: "A collection of teams"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/team"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    post:
      summary: "Create a new team"
      operationId: "CreateTeam"
      tags:
        - "team"
      parameters:
        - in: "body"
          name: "team"
          description: "The team data to create"
          required: true
          schema:
            $ref: "#/definitions/team"
      responses:
        200:
          description: "The created team data"
          schema:
            $ref: "#/definitions/team"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Failed to validate request"
          schema:
            $ref: "#/definitions/validation_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /teams/{team_id}:
    get:
      summary: "Fetch a specific team"
      operationId: "ShowTeam"
      tags:
        - "team"
      parameters:
        - in: "path"
          name: "team_id"
          description: "A team UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "The fetched team details"
          schema:
            $ref: "#/definitions/team"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    put:
      summary: "Update a specific team"
      operationId: "UpdateTeam"
      tags:
        - "team"
      parameters:
        - in: "path"
          name: "team_id"
          description: "A team UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "team"
          description: "The team data to update"
          required: true
          schema:
            $ref: "#/definitions/team"
      responses:
        200:
          description: "The updated team details"
          schema:
            $ref: "#/definitions/team"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Failed to validate request"
          schema:
            $ref: "#/definitions/validation_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    delete:
      summary: "Delete a specific team"
      operationId: "DeleteTeam"
      tags:
        - "team"
      parameters:
        - in: "path"
          name: "team_id"
          description: "A team UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        400:
          description: "Failed to delete the team"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /teams/{team_id}/users:
    get:
      summary: "Fetch all users assigned to team"
      operationId: "ListTeamUsers"
      tags:
        - "team"
      parameters:
        - in: "path"
          name: "team_id"
          description: "A team UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "A collection of team users"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/team_user"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    post:
      summary: "Assign a user to team"
      operationId: "AppendTeamToUser"
      tags:
        - "team"
      parameters:
        - in: "path"
          name: "team_id"
          description: "A team UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "team_user"
          description: "The team user data to assign"
          required: true
          schema:
            $ref: "#/definitions/team_user_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "User is already assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    put:
      summary: "Update user perms for team"
      operationId: "PermitTeamUser"
      tags:
        - "team"
      parameters:
        - in: "path"
          name: "team_id"
          description: "A team UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "team_user"
          description: "The team user data to update"
          required: true
          schema:
            $ref: "#/definitions/team_user_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "User is not assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    delete:
      summary: "Remove a user from team"
      operationId: "DeleteTeamFromUser"
      tags:
        - "team"
      parameters:
        - in: "path"
          name: "team_id"
          description: "A team UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "team_user"
          description: "The team user data to delete"
          required: true
          schema:
            $ref: "#/definitions/team_user_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "User is not assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /teams/{team_id}/packs:
    get:
      summary: "Fetch all packs assigned to team"
      operationId: "ListTeamPacks"
      tags:
        - "team"
      parameters:
        - in: "path"
          name: "team_id"
          description: "A team UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "A collection of team packs"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/team_pack"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    post:
      summary: "Assign a pack to team"
      operationId: "AppendTeamToPack"
      tags:
        - "team"
      parameters:
        - in: "path"
          name: "team_id"
          description: "A team UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "team_pack"
          description: "The team pack data to assign"
          required: true
          schema:
            $ref: "#/definitions/team_pack_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Pack is already assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    put:
      summary: "Update pack perms for team"
      operationId: "PermitTeamPack"
      tags:
        - "team"
      parameters:
        - in: "path"
          name: "team_id"
          description: "A team UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "team_pack"
          description: "The team pack data to update"
          required: true
          schema:
            $ref: "#/definitions/team_pack_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Pack is not assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    delete:
      summary: "Remove a pack from team"
      operationId: "DeleteTeamFromPack"
      tags:
        - "team"
      parameters:
        - in: "path"
          name: "team_id"
          description: "A team UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "team_pack"
          description: "The team pack data to delete"
          required: true
          schema:
            $ref: "#/definitions/team_pack_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Pack is not assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /teams/{team_id}/mods:
    get:
      summary: "Fetch all mods assigned to team"
      operationId: "ListTeamMods"
      tags:
        - "team"
      parameters:
        - in: "path"
          name: "team_id"
          description: "A team UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "A collection of team mods"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/team_mod"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    post:
      summary: "Assign a mod to team"
      operationId: "AppendTeamToMod"
      tags:
        - "team"
      parameters:
        - in: "path"
          name: "team_id"
          description: "A team UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "team_mod"
          description: "The team mod data to assign"
          required: true
          schema:
            $ref: "#/definitions/team_mod_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Mod is already assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    put:
      summary: "Update mod perms for team"
      operationId: "PermitTeamMod"
      tags:
        - "team"
      parameters:
        - in: "path"
          name: "team_id"
          description: "A team UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "team_mod"
          description: "The team mod data to update"
          required: true
          schema:
            $ref: "#/definitions/team_mod_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Mod is not assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    delete:
      summary: "Remove a mod from team"
      operationId: "DeleteTeamFromMod"
      tags:
        - "team"
      parameters:
        - in: "path"
          name: "team_id"
          description: "A team UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "team_mod"
          description: "The team mod data to delete"
          required: true
          schema:
            $ref: "#/definitions/team_mod_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Mod is not assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /users:
    get:
      summary: "Fetch all available users"
      operationId: "ListUsers"
      tags:
        - "user"
      responses:
        200:
          description: "A collection of users"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/user"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    post:
      summary: "Create a new user"
      operationId: "CreateUser"
      tags:
        - "user"
      parameters:
        - in: "body"
          name: "user"
          description: "The user data to create"
          required: true
          schema:
            $ref: "#/definitions/user"
      responses:
        200:
          description: "The created user data"
          schema:
            $ref: "#/definitions/user"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Failed to validate request"
          schema:
            $ref: "#/definitions/validation_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /users/{user_id}:
    get:
      summary: "Fetch a specific user"
      operationId: "ShowUser"
      tags:
        - "user"
      parameters:
        - in: "path"
          name: "user_id"
          description: "A user UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "The fetched user details"
          schema:
            $ref: "#/definitions/user"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    put:
      summary: "Update a specific user"
      operationId: "UpdateUser"
      tags:
        - "user"
      parameters:
        - in: "path"
          name: "user_id"
          description: "A user UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "user"
          description: "The user data to update"
          required: true
          schema:
            $ref: "#/definitions/user"
      responses:
        200:
          description: "The updated user details"
          schema:
            $ref: "#/definitions/user"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Failed to validate request"
          schema:
            $ref: "#/definitions/validation_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    delete:
      summary: "Delete a specific user"
      operationId: "DeleteUser"
      tags:
        - "user"
      parameters:
        - in: "path"
          name: "user_id"
          description: "A user UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        400:
          description: "Failed to delete the user"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /users/{user_id}/teams:
    get:
      summary: "Fetch all teams assigned to user"
      operationId: "ListUserTeams"
      tags:
        - "user"
      parameters:
        - in: "path"
          name: "user_id"
          description: "A user UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "A collection of user teams"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/team_user"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    post:
      summary: "Assign a team to user"
      operationId: "AppendUserToTeam"
      tags:
        - "user"
      parameters:
        - in: "path"
          name: "user_id"
          description: "A user UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "user_team"
          description: "The user team data to assign"
          required: true
          schema:
            $ref: "#/definitions/user_team_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Team is already assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    put:
      summary: "Update team perms for user"
      operationId: "PermitUserTeam"
      tags:
        - "user"
      parameters:
        - in: "path"
          name: "user_id"
          description: "A user UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "user_team"
          description: "The user team data to update"
          required: true
          schema:
            $ref: "#/definitions/user_team_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Team is not assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    delete:
      summary: "Remove a team from user"
      operationId: "DeleteUserFromTeam"
      tags:
        - "user"
      parameters:
        - in: "path"
          name: "user_id"
          description: "A user UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "user_team"
          description: "The user team data to delete"
          required: true
          schema:
            $ref: "#/definitions/user_team_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Team is not assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /users/{user_id}/mods:
    get:
      summary: "Fetch all mods assigned to user"
      operationId: "ListUserMods"
      tags:
        - "user"
      parameters:
        - in: "path"
          name: "user_id"
          description: "A user UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "A collection of user mods"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/user_mod"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    post:
      summary: "Assign a mod to user"
      operationId: "AppendUserToMod"
      tags:
        - "user"
      parameters:
        - in: "path"
          name: "user_id"
          description: "A user UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "user_mod"
          description: "The user mod data to assign"
          required: true
          schema:
            $ref: "#/definitions/user_mod_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Mod is already assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    put:
      summary: "Update mod perms for user"
      operationId: "PermitUserMod"
      tags:
        - "user"
      parameters:
        - in: "path"
          name: "user_id"
          description: "A user UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "user_mod"
          description: "The user mod data to update"
          required: true
          schema:
            $ref: "#/definitions/user_mod_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Mod is not assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    delete:
      summary: "Remove a mod from user"
      operationId: "DeleteUserFromMod"
      tags:
        - "user"
      parameters:
        - in: "path"
          name: "user_id"
          description: "A user UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "user_mod"
          description: "The user mod data to delete"
          required: true
          schema:
            $ref: "#/definitions/user_mod_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Mod is not assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

  /users/{user_id}/packs:
    get:
      summary: "Fetch all packs assigned to user"
      operationId: "ListUserPacks"
      tags:
        - "user"
      parameters:
        - in: "path"
          name: "user_id"
          description: "A user UUID or slug"
          type: "string"
          required: true
      responses:
        200:
          description: "A collection of team packs"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/user_pack"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    post:
      summary: "Assign a pack to user"
      operationId: "AppendUserToPack"
      tags:
        - "user"
      parameters:
        - in: "path"
          name: "user_id"
          description: "A user UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "user_pack"
          description: "The user pack data to assign"
          required: true
          schema:
            $ref: "#/definitions/user_pack_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Pack is already assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    put:
      summary: "Update pack perms for user"
      operationId: "PermitUserPack"
      tags:
        - "user"
      parameters:
        - in: "path"
          name: "user_id"
          description: "A user UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "user_pack"
          description: "The user pack data to update"
          required: true
          schema:
            $ref: "#/definitions/user_pack_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Pack is not assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

    delete:
      summary: "Remove a pack from user"
      operationId: "DeleteUserFromPack"
      tags:
        - "user"
      parameters:
        - in: "path"
          name: "user_id"
          description: "A user UUID or slug"
          type: "string"
          required: true
        - in: "body"
          name: "user_pack"
          description: "The user pack data to delete"
          required: true
          schema:
            $ref: "#/definitions/user_pack_params"
      responses:
        200:
          description: "Plain success message"
          schema:
            $ref: "#/definitions/general_error"
        403:
          description: "User is not authorized"
          schema:
            $ref: "#/definitions/general_error"
        412:
          description: "Failed to parse request body"
          schema:
            $ref: "#/definitions/general_error"
        422:
          description: "Pack is not assigned"
          schema:
            $ref: "#/definitions/general_error"
        default:
          description: "Some error unrelated to the handler"
          schema:
            $ref: "#/definitions/general_error"

definitions:
  auth_login:
    type: "object"
    required:
      - "username"
      - "password"
    properties:
      username:
        type: "string"
      password:
        type: "string"
        format: "password"

  auth_verify:
    type: "object"
    required:
      - "username"
      - "created_at"
    properties:
      username:
        type: "string"
      created_at:
        type: "string"
        format: "date-time"

  auth_token:
    type: "object"
    required:
      - "token"
      - "expires_at"
    properties:
      token:
        type: "string"
      expires_at:
        type: "string"
        format: "date-time"

  profile:
    type: "object"
    required:
      - "username"
      - "email"
    properties:
      id:
        type: "string"
        format: "uuid"
        readOnly: true
      slug:
        type: "string"
      username:
        type: "string"
      password:
        type: "string"
        format: "password"
      email:
        type: "string"
      admin:
        type: "boolean"
      active:
        type: "boolean"
      created_at:
        type: "string"
        format: "date-time"
      updated_at:
        type: "string"
        format: "date-time"

  minecraft:
    type: "object"
    required:
      - "name"
      - "type"
    properties:
      id:
        type: "string"
        format: "uuid"
        readOnly: true
      slug:
        type: "string"
      name:
        type: "string"
      type:
        type: "string"
      created_at:
        type: "string"
        format: "date-time"
      updated_at:
        type: "string"
        format: "date-time"

  forge:
    type: "object"
    required:
      - "name"
      - "minecraft"
    properties:
      id:
        type: "string"
        format: "uuid"
        readOnly: true
      slug:
        type: "string"
      name:
        type: "string"
      minecraft:
        type: "string"
      created_at:
        type: "string"
        format: "date-time"
      updated_at:
        type: "string"
        format: "date-time"

  mod:
    type: "object"
    required:
      - "name"
    properties:
      id:
        type: "string"
        format: "uuid"
        readOnly: true
      slug:
        type: "string"
      name:
        type: "string"
      side:
        type: "string"
        enum:
          - "both"
          - "server"
          - "client"
      description:
        type: "string"
      author:
        type: "string"
      website:
        type: "string"
      donate:
        type: "string"
      created_at:
        type: "string"
        format: "date-time"
      updated_at:
        type: "string"
        format: "date-time"

  version:
    type: "object"
    required:
      - "name"
    properties:
      id:
        type: "string"
        format: "uuid"
        readOnly: true
      mod_id:
        type: "string"
        format: "uuid"
      slug:
        type: "string"
      name:
        type: "string"
      created_at:
        type: "string"
        format: "date-time"
      updated_at:
        type: "string"
        format: "date-time"

  pack:
    type: "object"
    required:
      - "name"
    properties:
      id:
        type: "string"
        format: "uuid"
        readOnly: true
      recommended_id:
        type: "string"
        format: "uuid"
      latest_id:
        type: "string"
        format: "uuid"
      slug:
        type: "string"
      name:
        type: "string"
      website:
        type: "string"
      published:
        type: "boolean"
      hidden:
        type: "boolean"
      private:
        type: "boolean"
      public:
        type: "boolean"
      created_at:
        type: "string"
        format: "date-time"
      updated_at:
        type: "string"
        format: "date-time"

  build:
    type: "object"
    required:
      - "pack_id"
      - "name"
    properties:
      id:
        type: "string"
        format: "uuid"
        readOnly: true
      pack_id:
        type: "string"
        format: "uuid"
      minecraft_id:
        type: "string"
        format: "uuid"
      forge_id:
        type: "string"
        format: "uuid"
      slug:
        type: "string"
      name:
        type: "string"
      min_java:
        type: "string"
      min_memory:
        type: "string"
      published:
        type: "boolean"
      hidden:
        type: "boolean"
      private:
        type: "boolean"
      public:
        type: "boolean"
      created_at:
        type: "string"
        format: "date-time"
      updated_at:
        type: "string"
        format: "date-time"

  team:
    type: "object"
    required:
      - "name"
    properties:
      id:
        type: "string"
        format: "uuid"
        readOnly: true
      slug:
        type: "string"
      name:
        type: "string"
      created_at:
        type: "string"
        format: "date-time"
      updated_at:
        type: "string"
        format: "date-time"

  team_pack:
    type: "object"
    required:
      - "team_id"
      - "pack_id"
      - "perm"
    properties:
      team_id:
        type: "string"
        format: "uuid"
      pack_id:
        type: "string"
        format: "uuid"
      perm:
        type: "string"
        enum:
          - "user"
          - "admin"
          - "owner"

  team_mod:
    type: "object"
    required:
      - "team_id"
      - "mod_id"
      - "perm"
    properties:
      team_id:
        type: "string"
        format: "uuid"
      mod_id:
        type: "string"
        format: "uuid"
      perm:
        type: "string"
        enum:
          - "user"
          - "admin"
          - "owner"

  team_user:
    type: "object"
    required:
      - "team_id"
      - "user_id"
      - "perm"
    properties:
      team_id:
        type: "string"
        format: "uuid"
      user_id:
        type: "string"
        format: "uuid"
      perm:
        type: "string"
        enum:
          - "user"
          - "admin"
          - "owner"

  user:
    type: "object"
    required:
      - "username"
      - "email"
    properties:
      id:
        type: "string"
        format: "uuid"
        readOnly: true
      slug:
        type: "string"
      username:
        type: "string"
      password:
        type: "string"
        format: "password"
      email:
        type: "string"
      admin:
        type: "boolean"
      active:
        type: "boolean"
      created_at:
        type: "string"
        format: "date-time"
      updated_at:
        type: "string"
        format: "date-time"

  user_pack:
    type: "object"
    required:
      - "user_id"
      - "pack_id"
      - "perm"
    properties:
      user_id:
        type: "string"
        format: "uuid"
      pack_id:
        type: "string"
        format: "uuid"
      perm:
        type: "string"
        enum:
          - "user"
          - "admin"
          - "owner"

  user_mod:
    type: "object"
    required:
      - "user_id"
      - "mod_id"
      - "perm"
    properties:
      user_id:
        type: "string"
        format: "uuid"
      mod_id:
        type: "string"
        format: "uuid"
      perm:
        type: "string"
        enum:
          - "user"
          - "admin"
          - "owner"

  build_version:
    type: "object"
    required:
      - "build_id"
      - "version_id"
    properties:
      build_id:
        type: "string"
        format: "uuid"
      version_id:
        type: "string"
        format: "uuid"

  mod_user_params:
    type: "object"
    required:
      - "user"
      - "perm"
    properties:
      user:
        type: "string"
      perm:
        type: "string"
        enum:
          - "user"
          - "admin"
          - "owner"

  mod_team_params:
    type: "object"
    required:
      - "team"
      - "perm"
    properties:
      team:
        type: "string"
      perm:
        type: "string"
        enum:
          - "user"
          - "admin"
          - "owner"

  pack_user_params:
    type: "object"
    required:
      - "user"
      - "perm"
    properties:
      user:
        type: "string"
      perm:
        type: "string"
        enum:
          - "user"
          - "admin"
          - "owner"

  pack_team_params:
    type: "object"
    required:
      - "team"
      - "perm"
    properties:
      team:
        type: "string"
      perm:
        type: "string"
        enum:
          - "user"
          - "admin"
          - "owner"

  team_user_params:
    type: "object"
[...]
