---
openapi: "3.0.0"

info:
  version: "1.0.0-alpha1"
  description: "API definition for Kleister, manage mod packs for Minecraft"
  title: "Kleister OpenAPI"
  contact:
    name: "Kleister"
    email: "kleister@webhippie.de"
    url: "https://kleister.eu"
  license:
    name: "Apache-2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"

servers:
  - url: "https://try.kleister.eu/api/v1"

security:
  - Header: []
  - Bearer: []
  - Basic: []
  - Cookie: []

paths:
  /auth/{provider}/initialize:
    get:
      summary: "Initialize the external authentication"
      operationId: "ExternalInitialize"
      tags:
        - "auth"
      parameters:
        - in: "path"
          name: "provider"
          description: "An identifier for the auth provider"
          schema:
            type: "string"
          required: true
          x-example: "github"
        - name: "state"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Auth state"
      security: []
      responses:
        "307":
          description: "Redirect to external auth provider"
        "404":
          description: "Provider identifier is unknown"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "412":
          description: "Failed to initialze the provider"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /auth/{provider}/callback:
    get:
      summary: "Callback for external authentication"
      operationId: "ExternalCallback"
      tags:
        - "auth"
      parameters:
        - in: "path"
          name: "provider"
          description: "An identifier for the auth provider"
          schema:
            type: "string"
          required: true
          x-example: "github"
        - name: "state"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Auth state"
        - name: "code"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Auth code"
      security: []
      responses:
        "307":
          description: "Redirect to root of the application"
        "404":
          description: "Provider identifier is unknown"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "412":
          description: "Failed to initialize provider"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /auth/login:
    post:
      summary: "Authenticate an user by credentials"
      operationId: "LoginAuth"
      tags:
        - "auth"
      requestBody:
        description: "The credentials to authenticate"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/auth_login"
      security: []
      responses:
        "200":
          description: "Generated token with expire date"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/auth_token"
        "401":
          description: "Unauthorized with wrong credentials"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /auth/refresh:
    get:
      summary: "Refresh an auth token before it expires"
      operationId: "RefreshAuth"
      tags:
        - "auth"
      responses:
        "200":
          description: "Refreshed token with expire date"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/auth_token"
        "401":
          description: "Failed to generate valid token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /auth/verify:
    get:
      summary: "Verify validity for an authentication token"
      operationId: "VerifyAuth"
      tags:
        - "auth"
      responses:
        "200":
          description: "Metadata of the auth token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/auth_verify"
        "401":
          description: "Unauthorized invalid token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /profile/token:
    get:
      summary: "Retrieve an unlimited auth token"
      operationId: "TokenProfile"
      tags:
        - "profile"
      responses:
        "200":
          description: "Generated token never expiring"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/auth_token"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /profile/self:
    get:
      summary: "Fetch profile details of the personal account"
      operationId: "ShowProfile"
      tags:
        - "profile"
      responses:
        "200":
          description: "The current profile details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/profile"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    put:
      summary: "Update your own profile information"
      operationId: "UpdateProfile"
      tags:
        - "profile"
      requestBody:
        description: "The profile data to update"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/profile"
      security: []
      responses:
        "200":
          description: "The updated profile details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/profile"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "422":
          description: "Failed to validate request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /minecraft:
    get:
      summary: "Fetch the available Minecraft versions"
      operationId: "ListMinecrafts"
      tags:
        - "minecraft"
      parameters:
        - name: "search"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Search query"
          x-example: "John Doe"
      responses:
        "200":
          description: "A collection of minecraft versions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/minecrafts"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    put:
      summary: "Update the available Minecraft versions"
      operationId: "UpdateMinecraft"
      tags:
        - "minecraft"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "503":
          description: "If remote source is not available"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /minecraft/{minecraft_id}/builds:
    get:
      summary: "Fetch the builds attached to a Minecraft version"
      operationId: "ListMinecraftBuilds"
      tags:
        - "minecraft"
      parameters:
        - in: "path"
          name: "minecraft_id"
          description: "A minecraft identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "afcxm2owajfthby9bq1p"
        - name: "search"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Search query"
          x-example: "John Doe"
        - name: "sort"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "build_name"
            enum:
              - "build_name"
              - "build_public"
              - "pack_slug"
              - "pack_name"
          description: "Sorting column"
          x-example: "name"
        - name: "order"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "asc"
            enum:
              - "asc"
              - "desc"
          description: "Sorting order"
          x-example: "desc"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 100
          description: "Paging limit"
          x-example: 100
        - name: "offset"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 0
          description: "Paging offset"
          x-example: 0
      responses:
        "200":
          description: "A collection of attached builds"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/minecraft_builds"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Minecraft or build not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    post:
      summary: "Attach a build to a Minecraft version"
      operationId: "AttachMinecraftToBuild"
      tags:
        - "minecraft"
      parameters:
        - in: "path"
          name: "minecraft_id"
          description: "A minecraft identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "afcxm2owajfthby9bq1p"
      requestBody:
        description: "The build data to attach"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/minecraft_build_params"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Minecraft or build not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "412":
          description: "Build is already attached"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "422":
          description: "Failed to validate request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    delete:
      summary: "Unlink a build from a Minecraft version"
      operationId: "DeleteMinecraftFromBuild"
      tags:
        - "minecraft"
      parameters:
        - in: "path"
          name: "minecraft_id"
          description: "A minecraft identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "afcxm2owajfthby9bq1p"
      requestBody:
        description: "The build data to unlink"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/minecraft_build_params"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Minecraft or build not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "412":
          description: "Build is not attached"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /forge:
    get:
      summary: "Fetch the available Forge versions"
      operationId: "ListForges"
      tags:
        - "forge"
      parameters:
        - name: "search"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Search query"
          x-example: "John Doe"
      responses:
        "200":
          description: "A collection of forge versions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/forges"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    put:
      summary: "Update the available Forge versions"
      operationId: "UpdateForge"
      tags:
        - "forge"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "503":
          description: "If remote source is not available"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /forge/{forge_id}/builds:
    get:
      summary: "Fetch the builds attached to a Forge version"
      operationId: "ListForgeBuilds"
      tags:
        - "forge"
      parameters:
        - in: "path"
          name: "forge_id"
          description: "A forge identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "jilyazxqb9cvmvgrjg5p"
        - name: "search"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Search query"
          x-example: "John Doe"
        - name: "sort"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "build_name"
            enum:
              - "build_name"
              - "build_public"
              - "pack_slug"
              - "pack_name"
          description: "Sorting column"
          x-example: "name"
        - name: "order"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "asc"
            enum:
              - "asc"
              - "desc"
          description: "Sorting order"
          x-example: "desc"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 100
          description: "Paging limit"
          x-example: 100
        - name: "offset"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 0
          description: "Paging offset"
          x-example: 0
      responses:
        "200":
          description: "A collection of attached builds"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/forge_builds"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Forge or build not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    post:
      summary: "Attach a build to a Forge version"
      operationId: "AttachForgeToBuild"
      tags:
        - "forge"
      parameters:
        - in: "path"
          name: "forge_id"
          description: "A forge identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "jilyazxqb9cvmvgrjg5p"
      requestBody:
        description: "The build data to attach"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/forge_build_params"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Forge or build not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "412":
          description: "Build is already attached"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "422":
          description: "Failed to validate request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    delete:
      summary: "Unlink a build from a Forge version"
      operationId: "DeleteForgeFromBuild"
      tags:
        - "forge"
      parameters:
        - in: "path"
          name: "forge_id"
          description: "A forge identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "jilyazxqb9cvmvgrjg5p"
      requestBody:
        description: "The build data to unlink"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/forge_build_params"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Forge or build not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "412":
          description: "Build is not attached"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /neoforge:
    get:
      summary: "Fetch the available Neoforge versions"
      operationId: "ListNeoforges"
      tags:
        - "neoforge"
      parameters:
        - name: "search"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Search query"
          x-example: "John Doe"
      responses:
        "200":
          description: "A collection of neoforge versions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/neoforges"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    put:
      summary: "Update the available Neoforge versions"
      operationId: "UpdateNeoforge"
      tags:
        - "neoforge"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "503":
          description: "If remote source is not available"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /neoforge/{neoforge_id}/builds:
    get:
      summary: "Fetch the builds attached to a Neoforge version"
      operationId: "ListNeoforgeBuilds"
      tags:
        - "neoforge"
      parameters:
        - in: "path"
          name: "neoforge_id"
          description: "A neoforge identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "ohkdlojd2s2hpbudm7dz"
        - name: "search"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Search query"
          x-example: "John Doe"
        - name: "sort"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "build_name"
            enum:
              - "build_name"
              - "build_public"
              - "pack_slug"
              - "pack_name"
          description: "Sorting column"
          x-example: "name"
        - name: "order"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "asc"
            enum:
              - "asc"
              - "desc"
          description: "Sorting order"
          x-example: "desc"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 100
          description: "Paging limit"
          x-example: 100
        - name: "offset"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 0
          description: "Paging offset"
          x-example: 0
      responses:
        "200":
          description: "A collection of attached builds"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/neoforge_builds"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Neoforge or build not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    post:
      summary: "Attach a build to a Neoforge version"
      operationId: "AttachNeoforgeToBuild"
      tags:
        - "neoforge"
      parameters:
        - in: "path"
          name: "neoforge_id"
          description: "A neoforge identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "ohkdlojd2s2hpbudm7dz"
      requestBody:
        description: "The build data to attach"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/neoforge_build_params"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Neoforge or build not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "412":
          description: "Build is already attached"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "422":
          description: "Failed to validate request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    delete:
      summary: "Unlink a build from a Neoforge version"
      operationId: "DeleteNeoforgeFromBuild"
      tags:
        - "neoforge"
      parameters:
        - in: "path"
          name: "neoforge_id"
          description: "A neoforge identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "ohkdlojd2s2hpbudm7dz"
      requestBody:
        description: "The build data to unlink"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/neoforge_build_params"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Neoforge or build not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "412":
          description: "Build is not attached"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /quilt:
    get:
      summary: "Fetch the available Quilt versions"
      operationId: "ListQuilts"
      tags:
        - "quilt"
      parameters:
        - name: "search"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Search query"
          x-example: "John Doe"
      responses:
        "200":
          description: "A collection of quilt versions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/quilts"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    put:
      summary: "Update the available Quilt versions"
      operationId: "UpdateQuilt"
      tags:
        - "quilt"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "503":
          description: "If remote source is not available"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /quilt/{quilt_id}/builds:
    get:
      summary: "Fetch the builds attached to a Quilt version"
      operationId: "ListQuiltBuilds"
      tags:
        - "quilt"
      parameters:
        - in: "path"
          name: "quilt_id"
          description: "A quilt identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "tuzn3jaclqp1wvsnuk3b"
        - name: "search"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Search query"
          x-example: "John Doe"
        - name: "sort"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "build_name"
            enum:
              - "build_name"
              - "build_public"
              - "pack_slug"
              - "pack_name"
          description: "Sorting column"
          x-example: "name"
        - name: "order"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "asc"
            enum:
              - "asc"
              - "desc"
          description: "Sorting order"
          x-example: "desc"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 100
          description: "Paging limit"
          x-example: 100
        - name: "offset"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 0
          description: "Paging offset"
          x-example: 0
      responses:
        "200":
          description: "A collection of attached builds"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/quilt_builds"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Quilt or build not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    post:
      summary: "Attach a build to a Quilt version"
      operationId: "AttachQuiltToBuild"
      tags:
        - "quilt"
      parameters:
        - in: "path"
          name: "quilt_id"
          description: "A quilt identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "tuzn3jaclqp1wvsnuk3b"
      requestBody:
        description: "The build data to attach"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/quilt_build_params"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Quilt or build not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "412":
          description: "Build is already attached"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "422":
          description: "Failed to validate request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    delete:
      summary: "Unlink a build from a Quilt version"
      operationId: "DeleteQuiltFromBuild"
      tags:
        - "quilt"
      parameters:
        - in: "path"
          name: "quilt_id"
          description: "A quilt identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "tuzn3jaclqp1wvsnuk3b"
      requestBody:
        description: "The build data to unlink"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/quilt_build_params"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Quilt or build not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "412":
          description: "Build is not attached"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /fabric:
    get:
      summary: "Fetch the available Fabric versions"
      operationId: "ListFabrics"
      tags:
        - "fabric"
      parameters:
        - name: "search"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Search query"
          x-example: "John Doe"
      responses:
        "200":
          description: "A collection of fabric versions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/fabrics"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    put:
      summary: "Update the available Fabric versions"
      operationId: "UpdateFabric"
      tags:
        - "fabric"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "503":
          description: "If remote source is not available"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /fabric/{fabric_id}/builds:
    get:
      summary: "Fetch the builds attached to a Fabric version"
      operationId: "ListFabricBuilds"
      tags:
        - "fabric"
      parameters:
        - in: "path"
          name: "fabric_id"
          description: "A fabric identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "2oexcyrows1j0bo0itju"
        - name: "search"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Search query"
          x-example: "John Doe"
        - name: "sort"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "build_name"
            enum:
              - "build_name"
              - "build_public"
              - "pack_slug"
              - "pack_name"
          description: "Sorting column"
          x-example: "name"
        - name: "order"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "asc"
            enum:
              - "asc"
              - "desc"
          description: "Sorting order"
          x-example: "desc"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 100
          description: "Paging limit"
          x-example: 100
        - name: "offset"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 0
          description: "Paging offset"
          x-example: 0
      responses:
        "200":
          description: "A collection of attached builds"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/fabric_builds"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Fabric or build not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    post:
      summary: "Attach a build to a Fabric version"
      operationId: "AttachFabricToBuild"
      tags:
        - "fabric"
      parameters:
        - in: "path"
          name: "fabric_id"
          description: "A fabric identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "2oexcyrows1j0bo0itju"
      requestBody:
        description: "The build data to attach"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/fabric_build_params"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Fabric or build not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "412":
          description: "Build is already attached"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "422":
          description: "Failed to validate request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    delete:
      summary: "Unlink a build from a Fabric version"
      operationId: "DeleteFabricFromBuild"
      tags:
        - "fabric"
      parameters:
        - in: "path"
          name: "fabric_id"
          description: "A fabric identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "2oexcyrows1j0bo0itju"
      requestBody:
        description: "The build data to unlink"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/fabric_build_params"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Fabric or build not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "412":
          description: "Build is not attached"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /packs:
    get:
      summary: "Fetch all available packs"
      operationId: "ListPacks"
      tags:
        - "pack"
      parameters:
        - name: "search"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Search query"
          x-example: "John Doe"
        - name: "sort"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "name"
            enum:
              - "slug"
              - "name"
              - "public"
          description: "Sorting column"
          x-example: "name"
        - name: "order"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "asc"
            enum:
              - "asc"
              - "desc"
          description: "Sorting order"
          x-example: "desc"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 100
          description: "Paging limit"
          x-example: 100
        - name: "offset"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 0
          description: "Paging offset"
          x-example: 0
      responses:
        "200":
          description: "A collection of packs"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/packs"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    post:
      summary: "Create a new pack"
      operationId: "CreatePack"
      tags:
        - "pack"
      requestBody:
        description: "The pack data to create"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pack"
      responses:
        "200":
          description: "The created pack data"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pack"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "422":
          description: "Failed to validate request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /packs/{pack_id}:
    get:
      summary: "Fetch a specific pack"
      operationId: "ShowPack"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "edtmbzwztudkdhhfemhd"
      responses:
        "200":
          description: "The fetched pack details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pack"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Pack not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    put:
      summary: "Update a specific pack"
      operationId: "UpdatePack"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "edtmbzwztudkdhhfemhd"
      requestBody:
        description: "The pack data to update"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pack"
      responses:
        "200":
          description: "The updated pack details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pack"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Pack not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "422":
          description: "Failed to validate request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    delete:
      summary: "Delete a specific pack"
      operationId: "DeletePack"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "edtmbzwztudkdhhfemhd"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Pack not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "400":
          description: "Failed to delete the pack"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /packs/{pack_id}/users:
    get:
      summary: "Fetch all users attached to pack"
      operationId: "ListPackUsers"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "edtmbzwztudkdhhfemhd"
        - name: "search"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Search query"
          x-example: "John Doe"
        - name: "sort"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "username"
            enum:
              - "username"
              - "email"
              - "fullname"
              - "admin"
              - "active"
          description: "Sorting column"
          x-example: "name"
        - name: "order"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "asc"
            enum:
              - "asc"
              - "desc"
          description: "Sorting order"
          x-example: "desc"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 100
          description: "Paging limit"
          x-example: 100
        - name: "offset"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 0
          description: "Paging offset"
          x-example: 0
      responses:
        "200":
          description: "A collection of pack users"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pack_users"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Pack not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    post:
      summary: "Attach a user to pack"
      operationId: "AttachPackToUser"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "edtmbzwztudkdhhfemhd"
      requestBody:
        description: "The user data to attach"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pack_user_params"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Pack or user not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "412":
          description: "User is already attached"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "422":
          description: "Failed to validate request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    put:
      summary: "Update user perms for pack"
      operationId: "PermitPackUser"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "edtmbzwztudkdhhfemhd"
      requestBody:
        description: "The user data to update"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pack_user_params"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Pack or user not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "412":
          description: "User is not attached"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "422":
          description: "Failed to validate request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    delete:
      summary: "Unlink a user from pack"
      operationId: "DeletePackFromUser"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "edtmbzwztudkdhhfemhd"
      requestBody:
        description: "The pack user data to unlink"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pack_user_params"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Pack or user not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "412":
          description: "User is not attached"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /packs/{pack_id}/teams:
    get:
      summary: "Fetch all teams attached to pack"
      operationId: "ListPackTeams"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "edtmbzwztudkdhhfemhd"
        - name: "search"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Search query"
          x-example: "John Doe"
        - name: "sort"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "name"
            enum:
              - "slug"
              - "name"
          description: "Sorting column"
          x-example: "name"
        - name: "order"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "asc"
            enum:
              - "asc"
              - "desc"
          description: "Sorting order"
          x-example: "desc"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 100
          description: "Paging limit"
          x-example: 100
        - name: "offset"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 0
          description: "Paging offset"
          x-example: 0
      responses:
        "200":
          description: "A collection of pack teams"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pack_teams"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Pack not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    post:
      summary: "Attach a team to pack"
      operationId: "AttachPackToTeam"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "edtmbzwztudkdhhfemhd"
      requestBody:
        description: "The team data to attach"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pack_team_params"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Pack or team not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "412":
          description: "Team is already attached"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "422":
          description: "Failed to validate request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    put:
      summary: "Update team perms for pack"
      operationId: "PermitPackTeam"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "edtmbzwztudkdhhfemhd"
      requestBody:
        description: "The team data to update"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pack_team_params"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Pack or team not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "412":
          description: "Team is not attached"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "422":
          description: "Failed to validate request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    delete:
      summary: "Unlink a team from pack"
      operationId: "DeletePackFromTeam"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "edtmbzwztudkdhhfemhd"
      requestBody:
        description: "The pack team data to unlink"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pack_team_params"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Pack or team not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "412":
          description: "Team is not attached"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /packs/{pack_id}/builds:
    get:
      summary: "Fetch all available builds for a pack"
      operationId: "ListBuilds"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "edtmbzwztudkdhhfemhd"
        - name: "search"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Search query"
          x-example: "John Doe"
        - name: "sort"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "name"
            enum:
              - "name"
              - "public"
          description: "Sorting column"
          x-example: "name"
        - name: "order"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "asc"
            enum:
              - "asc"
              - "desc"
          description: "Sorting order"
          x-example: "desc"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
          description: "Paging limit"
          x-example: 100
        - name: "offset"
          in: "query"
          required: false
          schema:
            type: "integer"
          description: "Paging offset"
          x-example: 0
      responses:
        "200":
          description: "A collection of builds"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/builds"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Pack not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    post:
      summary: "Create a new build for a pack"
      operationId: "CreateBuild"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "edtmbzwztudkdhhfemhd"
      requestBody:
        description: "The build data to create"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/build"
      responses:
        "200":
          description: "The created build build"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/build"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Pack not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "422":
          description: "Failed to validate request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /packs/{pack_id}/builds/{build_id}:
    get:
      summary: "Fetch a specific build for a pack"
      operationId: "ShowBuild"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "edtmbzwztudkdhhfemhd"
        - in: "path"
          name: "build_id"
          description: "A build identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "n3eked21ybxvfw2zi25u"
      responses:
        "200":
          description: "The fetched build details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/build"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Build or pack not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    put:
      summary: "Update a specific build for a pack"
      operationId: "UpdateBuild"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "edtmbzwztudkdhhfemhd"
        - in: "path"
          name: "build_id"
          description: "A build identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "n3eked21ybxvfw2zi25u"
      requestBody:
        description: "The build data to update"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/build"
      responses:
        "200":
          description: "The updated build details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/build"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Build or pack not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "422":
          description: "Failed to validate request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    delete:
      summary: "Delete a specific build for a pack"
      operationId: "DeleteBuild"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "edtmbzwztudkdhhfemhd"
        - in: "path"
          name: "build_id"
          description: "A build identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "n3eked21ybxvfw2zi25u"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Build or pack not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "400":
          description: "Failed to delete the build"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /packs/{pack_id}/builds/{build_id}/versions:
    get:
      summary: "Fetch all versions attached to build"
      operationId: "ListBuildVersions"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "edtmbzwztudkdhhfemhd"
        - in: "path"
          name: "build_id"
          description: "A build identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "n3eked21ybxvfw2zi25u"
        - name: "search"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Search query"
          x-example: "John Doe"
        - name: "sort"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "name"
            enum:
              - "name"
              - "public"
          description: "Sorting column"
          x-example: "name"
        - name: "order"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "asc"
            enum:
              - "asc"
              - "desc"
          description: "Sorting order"
          x-example: "desc"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
          description: "Paging limit"
          x-example: 100
        - name: "offset"
          in: "query"
          required: false
          schema:
            type: "integer"
          description: "Paging offset"
          x-example: 0
      responses:
        "200":
          description: "A collection of build versions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/build_versions"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Build or pack not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    post:
      summary: "Attach a version to a build"
      operationId: "AttachBuildToVersion"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "edtmbzwztudkdhhfemhd"
        - in: "path"
          name: "build_id"
          description: "A build identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "n3eked21ybxvfw2zi25u"
      requestBody:
        description: "The build version data to attach"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/build_version_params"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Version, build or pack not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "412":
          description: "Version is already attached"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "422":
          description: "Failed to validate request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    delete:
      summary: "Unlink a version from a build"
      operationId: "DeleteBuildFromVersion"
      tags:
        - "pack"
      parameters:
        - in: "path"
          name: "pack_id"
          description: "A pack identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "edtmbzwztudkdhhfemhd"
        - in: "path"
          name: "build_id"
          description: "A build identifier or slug"
          schema:
            type: "string"
          required: true
          x-eample: "n3eked21ybxvfw2zi25u"
      requestBody:
        description: "The build version data to unlink"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/build_version_params"
      responses:
        "200":
          description: "Plain success message"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Version, build or pack not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "412":
          description: "Version is not attached"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /mods:
    get:
      summary: "Fetch all available mods"
      operationId: "ListMods"
      tags:
        - "mod"
      parameters:
        - name: "search"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Search query"
          x-example: "John Doe"
        - name: "sort"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "name"
            enum:
              - "slug"
              - "name"
              - "public"
          description: "Sorting column"
          x-example: "name"
        - name: "order"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "asc"
            enum:
              - "asc"
              - "desc"
          description: "Sorting order"
          x-example: "desc"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 100
          description: "Paging limit"
          x-example: 100
        - name: "offset"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 0
          description: "Paging offset"
          x-example: 0
      responses:
        "200":
          description: "A collection of mods"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/mods"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    post:
      summary: "Create a new mod"
      operationId: "CreateMod"
      tags:
        - "mod"
      requestBody:
        description: "The mod data to create"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/mod"
      responses:
        "200":
          description: "The created user data"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/mod"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "422":
          description: "Failed to validate request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

  /mods/{mod_id}:
    get:
      summary: "Fetch a specific mod"
      operationId: "ShowMod"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod identifier or slug"
          schema:
            type: "string"
          required: true
          x-example: "9hkaizdrwypr4ewjp4tu"
      responses:
        "200":
          description: "The fetched mod details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/mod"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Mod not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        default:
          description: "Some error unrelated to the handler"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"

    put:
      summary: "Update a specific mod"
      operationId: "UpdateMod"
      tags:
        - "mod"
      parameters:
        - in: "path"
          name: "mod_id"
          description: "A mod identifier or slug"
          schema:
            type: "string"
          required: true
          x-example: "9hkaizdrwypr4ewjp4tu"
      requestBody:
        description: "The mod data to update"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/mod"
      responses:
        "200":
          description: "The updated mod details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/mod"
        "403":
          description: "User is not authorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "404":
          description: "Mod not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "422":
          description: "Failed to validate request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification"
        "500":
          description: "Some internal server error"
[...]
