---
openapi: "3.0.0"

info:
  version: "1.0.0-alpha1"
  description: "API definition for Kleister, manage mod packs for Minecraft"
  title: "Kleister OpenAPI"
  contact:
    name: "Kleister"
    email: "kleister@webhippie.de"
    url: "https://kleister.eu"
  license:
    name: "Apache-2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"

servers:
  - url: "https://try.kleister.eu/api/v1"

security:
  - Header: []
  - Bearer: []
  - Basic: []

paths:
  /auth/{provider}/request:
    get:
      summary: "Request the redirect to defined provider"
      operationId: "RequestProvider"
      tags:
        - "auth"
      parameters:
        - $ref: "#/components/parameters/AuthProviderParam"
      security: []
      responses:
        "308":
          description: "Redirect to the provider"
          content:
            text/html:
              schema:
                type: "string"
        "404":
          description: "Provider not found"
          content:
            text/html:
              schema:
                type: "string"
        "500":
          description: "Internal server error"
          content:
            text/html:
              schema:
                type: "string"

  /auth/{provider}/callback:
    get:
      summary: "Callback to parse the defined provider"
      operationId: "CallbackProvider"
      tags:
        - "auth"
      parameters:
        - $ref: "#/components/parameters/AuthProviderParam"
        - $ref: "#/components/parameters/AuthStateParam"
        - $ref: "#/components/parameters/AuthCodeParam"
      security: []
      responses:
        "308":
          description: "Generated expiring token"
          content:
            text/html:
              schema:
                type: "string"
        "412":
          description: "Failed to initialize provider"
          content:
            text/html:
              schema:
                type: "string"
        "404":
          description: "Provider not found"
          content:
            text/html:
              schema:
                type: "string"
        "500":
          description: "Internal server error"
          content:
            text/html:
              schema:
                type: "string"

  /auth/providers:
    get:
      summary: "Fetch the available auth providers"
      operationId: "ListProviders"
      tags:
        - "auth"
      security: []
      responses:
        "200":
          $ref: "#/components/responses/ProvidersResponse"

  /auth/redirect:
    post:
      summary: "Retrieve real token after redirect"
      operationId: "RedirectAuth"
      tags:
        - "auth"
      requestBody:
        $ref: "#/components/requestBodies/RedirectAuthBody"
      security: []
      responses:
        "200":
          $ref: "#/components/responses/TokenResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/InvalidTokenError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /auth/login:
    post:
      summary: "Authenticate an user by credentials"
      operationId: "LoginAuth"
      tags:
        - "auth"
      requestBody:
        $ref: "#/components/requestBodies/LoginAuthBody"
      security: []
      responses:
        "200":
          $ref: "#/components/responses/LoginResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/BadCredentialsError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /auth/refresh:
    get:
      summary: "Refresh an auth token before it expires"
      operationId: "RefreshAuth"
      tags:
        - "auth"
      responses:
        "200":
          $ref: "#/components/responses/RefreshResponse"
        "401":
          $ref: "#/components/responses/InvalidTokenError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /auth/verify:
    get:
      summary: "Verify validity for an authentication token"
      operationId: "VerifyAuth"
      tags:
        - "auth"
      responses:
        "200":
          $ref: "#/components/responses/VerifyResponse"
        "401":
          $ref: "#/components/responses/InvalidTokenError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /profile/token:
    get:
      summary: "Retrieve an unlimited auth token"
      operationId: "TokenProfile"
      tags:
        - "profile"
      responses:
        "200":
          $ref: "#/components/responses/TokenResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /profile/self:
    get:
      summary: "Fetch profile details of the personal account"
      operationId: "ShowProfile"
      tags:
        - "profile"
      responses:
        "200":
          $ref: "#/components/responses/ProfileResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update your own profile information"
      operationId: "UpdateProfile"
      tags:
        - "profile"
      requestBody:
        $ref: "#/components/requestBodies/UpdateProfileBody"
      responses:
        "200":
          $ref: "#/components/responses/ProfileResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /minecraft:
    get:
      summary: "Fetch the available Minecraft versions"
      operationId: "ListMinecrafts"
      tags:
        - "minecraft"
      parameters:
        - $ref: "#/components/parameters/SearchQueryParam"
      responses:
        "200":
          $ref: "#/components/responses/MinecraftsResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update the available Minecraft versions"
      operationId: "UpdateMinecraft"
      tags:
        - "minecraft"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "503":
          $ref: "#/components/responses/RemoteUnavailableError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /minecraft/{minecraft_id}/builds:
    get:
      summary: "Fetch the builds attached to a Minecraft version"
      operationId: "ListMinecraftBuilds"
      tags:
        - "minecraft"
      parameters:
        - $ref: "#/components/parameters/MinecraftParam"
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/MinecraftBuildsResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Attach a build to a Minecraft version"
      operationId: "AttachMinecraftToBuild"
      tags:
        - "minecraft"
      parameters:
        - $ref: "#/components/parameters/MinecraftParam"
      requestBody:
        $ref: "#/components/requestBodies/MinecraftBuildBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/AlreadyAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Unlink a build from a Minecraft version"
      operationId: "DeleteMinecraftFromBuild"
      tags:
        - "minecraft"
      parameters:
        - $ref: "#/components/parameters/MinecraftParam"
      requestBody:
        $ref: "#/components/requestBodies/MinecraftBuildBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /forge:
    get:
      summary: "Fetch the available Forge versions"
      operationId: "ListForges"
      tags:
        - "forge"
      parameters:
        - $ref: "#/components/parameters/SearchQueryParam"
      responses:
        "200":
          $ref: "#/components/responses/ForgesResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update the available Forge versions"
      operationId: "UpdateForge"
      tags:
        - "forge"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "503":
          $ref: "#/components/responses/RemoteUnavailableError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /forge/{forge_id}/builds:
    get:
      summary: "Fetch the builds attached to a Forge version"
      operationId: "ListForgeBuilds"
      tags:
        - "forge"
      parameters:
        - $ref: "#/components/parameters/ForgeParam"
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/ForgeBuildsResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Attach a build to a Forge version"
      operationId: "AttachForgeToBuild"
      tags:
        - "forge"
      parameters:
        - $ref: "#/components/parameters/ForgeParam"
      requestBody:
        $ref: "#/components/requestBodies/ForgeBuildBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/AlreadyAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Unlink a build from a Forge version"
      operationId: "DeleteForgeFromBuild"
      tags:
        - "forge"
      parameters:
        - $ref: "#/components/parameters/ForgeParam"
      requestBody:
        $ref: "#/components/requestBodies/ForgeBuildBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /neoforge:
    get:
      summary: "Fetch the available Neoforge versions"
      operationId: "ListNeoforges"
      tags:
        - "neoforge"
      parameters:
        - $ref: "#/components/parameters/SearchQueryParam"
      responses:
        "200":
          $ref: "#/components/responses/NeoforgesResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update the available Neoforge versions"
      operationId: "UpdateNeoforge"
      tags:
        - "neoforge"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "503":
          $ref: "#/components/responses/RemoteUnavailableError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /neoforge/{neoforge_id}/builds:
    get:
      summary: "Fetch the builds attached to a Neoforge version"
      operationId: "ListNeoforgeBuilds"
      tags:
        - "neoforge"
      parameters:
        - $ref: "#/components/parameters/NeoforgeParam"
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/NeoforgeBuildsResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Attach a build to a Neoforge version"
      operationId: "AttachNeoforgeToBuild"
      tags:
        - "neoforge"
      parameters:
        - $ref: "#/components/parameters/NeoforgeParam"
      requestBody:
        $ref: "#/components/requestBodies/NeoforgeBuildBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/AlreadyAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Unlink a build from a Neoforge version"
      operationId: "DeleteNeoforgeFromBuild"
      tags:
        - "neoforge"
      parameters:
        - $ref: "#/components/parameters/NeoforgeParam"
      requestBody:
        $ref: "#/components/requestBodies/NeoforgeBuildBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /quilt:
    get:
      summary: "Fetch the available Quilt versions"
      operationId: "ListQuilts"
      tags:
        - "quilt"
      parameters:
        - $ref: "#/components/parameters/SearchQueryParam"
      responses:
        "200":
          $ref: "#/components/responses/QuiltsResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update the available Quilt versions"
      operationId: "UpdateQuilt"
      tags:
        - "quilt"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "503":
          $ref: "#/components/responses/RemoteUnavailableError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /quilt/{quilt_id}/builds:
    get:
      summary: "Fetch the builds attached to a Quilt version"
      operationId: "ListQuiltBuilds"
      tags:
        - "quilt"
      parameters:
        - $ref: "#/components/parameters/QuiltParam"
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/QuiltBuildsResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Attach a build to a Quilt version"
      operationId: "AttachQuiltToBuild"
      tags:
        - "quilt"
      parameters:
        - $ref: "#/components/parameters/QuiltParam"
      requestBody:
        $ref: "#/components/requestBodies/QuiltBuildBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/AlreadyAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Unlink a build from a Quilt version"
      operationId: "DeleteQuiltFromBuild"
      tags:
        - "quilt"
      parameters:
        - $ref: "#/components/parameters/QuiltParam"
      requestBody:
        $ref: "#/components/requestBodies/QuiltBuildBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /fabric:
    get:
      summary: "Fetch the available Fabric versions"
      operationId: "ListFabrics"
      tags:
        - "fabric"
      parameters:
        - $ref: "#/components/parameters/SearchQueryParam"
      responses:
        "200":
          $ref: "#/components/responses/FabricsResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update the available Fabric versions"
      operationId: "UpdateFabric"
      tags:
        - "fabric"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "503":
          $ref: "#/components/responses/RemoteUnavailableError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /fabric/{fabric_id}/builds:
    get:
      summary: "Fetch the builds attached to a Fabric version"
      operationId: "ListFabricBuilds"
      tags:
        - "fabric"
      parameters:
        - $ref: "#/components/parameters/FabricParam"
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/FabricBuildsResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Attach a build to a Fabric version"
      operationId: "AttachFabricToBuild"
      tags:
        - "fabric"
      parameters:
        - $ref: "#/components/parameters/FabricParam"
      requestBody:
        $ref: "#/components/requestBodies/FabricBuildBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/AlreadyAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Unlink a build from a Fabric version"
      operationId: "DeleteFabricFromBuild"
      tags:
        - "fabric"
      parameters:
        - $ref: "#/components/parameters/FabricParam"
      requestBody:
        $ref: "#/components/requestBodies/FabricBuildBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /packs:
    get:
      summary: "Fetch all available packs"
      operationId: "ListPacks"
      tags:
        - "pack"
      parameters:
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/PacksResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Create a new pack"
      operationId: "CreatePack"
      tags:
        - "pack"
      requestBody:
        $ref: "#/components/requestBodies/CreatePackBody"
      responses:
        "200":
          $ref: "#/components/responses/PackResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /packs/{pack_id}:
    get:
      summary: "Fetch a specific pack"
      operationId: "ShowPack"
      tags:
        - "pack"
      parameters:
        - $ref: "#/components/parameters/PackParam"
      responses:
        "200":
          $ref: "#/components/responses/PackResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update a specific pack"
      operationId: "UpdatePack"
      tags:
        - "pack"
      parameters:
        - $ref: "#/components/parameters/PackParam"
      requestBody:
        $ref: "#/components/requestBodies/UpdatePackBody"
      responses:
        "200":
          $ref: "#/components/responses/PackResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Delete a specific pack"
      operationId: "DeletePack"
      tags:
        - "pack"
      parameters:
        - $ref: "#/components/parameters/PackParam"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "400":
          $ref: "#/components/responses/ActionFailedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /packs/{pack_id}/avatar:
    post:
      summary: "Upload an avatar for the defined pack"
      operationId: "CreatePackAvatar"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/PackParam"
      requestBody:
        $ref: "#/components/requestBodies/PackAvatarBody"
      responses:
        "200":
          $ref: "#/components/responses/PackAvatarResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Delete the avatar for the defined pack"
      operationId: "DeletePackAvatar"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/PackParam"
      responses:
        "200":
          $ref: "#/components/responses/PackAvatarResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "400":
          $ref: "#/components/responses/ActionFailedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /packs/{pack_id}/users:
    get:
      summary: "Fetch all users attached to pack"
      operationId: "ListPackUsers"
      tags:
        - "pack"
      parameters:
        - $ref: "#/components/parameters/PackParam"
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/PackUsersResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Attach a user to pack"
      operationId: "AttachPackToUser"
      tags:
        - "pack"
      parameters:
        - $ref: "#/components/parameters/PackParam"
      requestBody:
        $ref: "#/components/requestBodies/PackUserPermBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/AlreadyAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update user perms for pack"
      operationId: "PermitPackUser"
      tags:
        - "pack"
      parameters:
        - $ref: "#/components/parameters/PackParam"
      requestBody:
        $ref: "#/components/requestBodies/PackUserPermBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Unlink a user from pack"
      operationId: "DeletePackFromUser"
      tags:
        - "pack"
      parameters:
        - $ref: "#/components/parameters/PackParam"
      requestBody:
        $ref: "#/components/requestBodies/PackUserDropBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /packs/{pack_id}/groups:
    get:
      summary: "Fetch all groups attached to pack"
      operationId: "ListPackGroups"
      tags:
        - "pack"
      parameters:
        - $ref: "#/components/parameters/PackParam"
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/PackGroupsResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Attach a group to pack"
      operationId: "AttachPackToGroup"
      tags:
        - "pack"
      parameters:
        - $ref: "#/components/parameters/PackParam"
      requestBody:
        $ref: "#/components/requestBodies/PackGroupPermBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/AlreadyAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update group perms for pack"
      operationId: "PermitPackGroup"
      tags:
        - "pack"
      parameters:
        - $ref: "#/components/parameters/PackParam"
      requestBody:
        $ref: "#/components/requestBodies/PackGroupPermBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Unlink a group from pack"
      operationId: "DeletePackFromGroup"
      tags:
        - "pack"
      parameters:
        - $ref: "#/components/parameters/PackParam"
      requestBody:
        $ref: "#/components/requestBodies/PackGroupDropBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /packs/{pack_id}/builds:
    get:
      summary: "Fetch all available builds for a pack"
      operationId: "ListBuilds"
      tags:
        - "pack"
      parameters:
        - $ref: "#/components/parameters/PackParam"
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/BuildsResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Create a new build for a pack"
      operationId: "CreateBuild"
      tags:
        - "pack"
      parameters:
        - $ref: "#/components/parameters/PackParam"
      requestBody:
        $ref: "#/components/requestBodies/CreateBuildBody"
      responses:
        "200":
          $ref: "#/components/responses/BuildResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /packs/{pack_id}/builds/{build_id}:
    get:
      summary: "Fetch a specific build for a pack"
      operationId: "ShowBuild"
      tags:
        - "pack"
      parameters:
        - $ref: "#/components/parameters/PackParam"
        - $ref: "#/components/parameters/BuildParam"
      responses:
        "200":
          $ref: "#/components/responses/BuildResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update a specific build for a pack"
      operationId: "UpdateBuild"
      tags:
        - "pack"
      parameters:
        - $ref: "#/components/parameters/PackParam"
        - $ref: "#/components/parameters/BuildParam"
      requestBody:
        $ref: "#/components/requestBodies/UpdateBuildBody"
      responses:
        "200":
          $ref: "#/components/responses/BuildResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Delete a specific build for a pack"
      operationId: "DeleteBuild"
      tags:
        - "pack"
      parameters:
        - $ref: "#/components/parameters/PackParam"
        - $ref: "#/components/parameters/BuildParam"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "400":
          $ref: "#/components/responses/ActionFailedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /packs/{pack_id}/builds/{build_id}/versions:
    get:
      summary: "Fetch all versions attached to build"
      operationId: "ListBuildVersions"
      tags:
        - "pack"
      parameters:
        - $ref: "#/components/parameters/PackParam"
        - $ref: "#/components/parameters/BuildParam"
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/BuildVersionsResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Attach a version to a build"
      operationId: "AttachBuildToVersion"
      tags:
        - "pack"
      parameters:
        - $ref: "#/components/parameters/PackParam"
        - $ref: "#/components/parameters/BuildParam"
      requestBody:
        $ref: "#/components/requestBodies/BuildVersionBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/AlreadyAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Unlink a version from a build"
      operationId: "DeleteBuildFromVersion"
      tags:
        - "pack"
      parameters:
        - $ref: "#/components/parameters/PackParam"
        - $ref: "#/components/parameters/BuildParam"
      requestBody:
        $ref: "#/components/requestBodies/BuildVersionBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /mods:
    get:
      summary: "Fetch all available mods"
      operationId: "ListMods"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/ModsResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Create a new mod"
      operationId: "CreateMod"
      tags:
        - "mod"
      requestBody:
        $ref: "#/components/requestBodies/CreateModBody"
      responses:
        "200":
          $ref: "#/components/responses/ModResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /mods/{mod_id}:
    get:
      summary: "Fetch a specific mod"
      operationId: "ShowMod"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
      responses:
        "200":
          $ref: "#/components/responses/ModResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update a specific mod"
      operationId: "UpdateMod"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
      requestBody:
        $ref: "#/components/requestBodies/UpdateModBody"
      responses:
        "200":
          $ref: "#/components/responses/ModResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Delete a specific mod"
      operationId: "DeleteMod"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "400":
          $ref: "#/components/responses/ActionFailedError"
        "500":
          $ref: "#/components/responses/InternalServerError"


  /mods/{mod_id}/avatar:
    post:
      summary: "Upload an avatar for the defined mod"
      operationId: "CreateModAvatar"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
      requestBody:
        $ref: "#/components/requestBodies/ModAvatarBody"
      responses:
        "200":
          $ref: "#/components/responses/ModAvatarResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Delete the avatar for the defined mod"
      operationId: "DeleteModAvatar"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
      responses:
        "200":
          $ref: "#/components/responses/ModAvatarResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "400":
          $ref: "#/components/responses/ActionFailedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /mods/{mod_id}/users:
    get:
      summary: "Fetch all users attached to mod"
      operationId: "ListModUsers"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/ModUsersResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Attach a user to mod"
      operationId: "AttachModToUser"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
      requestBody:
        $ref: "#/components/requestBodies/ModUserPermBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/AlreadyAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update user perms for mod"
      operationId: "PermitModUser"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
      requestBody:
        $ref: "#/components/requestBodies/ModUserPermBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Unlink a user from mod"
      operationId: "DeleteModFromUser"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
      requestBody:
        $ref: "#/components/requestBodies/ModUserDropBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /mods/{mod_id}/groups:
    get:
      summary: "Fetch all groups attached to mod"
      operationId: "ListModGroups"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/ModGroupsResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Attach a group to mod"
      operationId: "AttachModToGroup"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
      requestBody:
        $ref: "#/components/requestBodies/ModGroupPermBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/AlreadyAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update group perms for mod"
      operationId: "PermitModGroup"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
      requestBody:
        $ref: "#/components/requestBodies/ModGroupPermBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Unlink a group from mod"
      operationId: "DeleteModFromGroup"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
      requestBody:
        $ref: "#/components/requestBodies/ModGroupDropBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /mods/{mod_id}/versions:
    get:
      summary: "Fetch all available versions for a mod"
      operationId: "ListVersions"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/VersionsResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Create a new version for a mod"
      operationId: "CreateVersion"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
      requestBody:
        $ref: "#/components/requestBodies/CreateVersionBody"
      responses:
        "200":
          $ref: "#/components/responses/VersionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /mods/{mod_id}/versions/{version_id}:
    get:
      summary: "Fetch a specific version for a mod"
      operationId: "ShowVersion"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
        - $ref: "#/components/parameters/VersionParam"
      responses:
        "200":
          $ref: "#/components/responses/VersionResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update a specific version for a mod"
      operationId: "UpdateVersion"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
        - $ref: "#/components/parameters/VersionParam"
      requestBody:
        $ref: "#/components/requestBodies/UpdateVersionBody"
      responses:
        "200":
          $ref: "#/components/responses/VersionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Delete a specific version for a mod"
      operationId: "DeleteVersion"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
        - $ref: "#/components/parameters/VersionParam"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "400":
          $ref: "#/components/responses/ActionFailedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /mods/{mod_id}/versions/{version_id}/builds:
    get:
      summary: "Fetch all builds attached to version"
      operationId: "ListVersionBuilds"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
        - $ref: "#/components/parameters/VersionParam"
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/VersionBuildsResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Attach a build to a version"
      operationId: "AttachVersionToBuild"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
        - $ref: "#/components/parameters/VersionParam"
      requestBody:
        $ref: "#/components/requestBodies/VersionBuildBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/AlreadyAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Unlink a build from a version"
      operationId: "DeleteVersionFromBuild"
      tags:
        - "mod"
      parameters:
        - $ref: "#/components/parameters/ModParam"
        - $ref: "#/components/parameters/VersionParam"
      requestBody:
        $ref: "#/components/requestBodies/VersionBuildBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /groups:
    get:
      summary: "Fetch all available groups"
      operationId: "ListGroups"
      tags:
        - "group"
      parameters:
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/GroupsResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Create a new group"
      operationId: "CreateGroup"
      tags:
        - "group"
      requestBody:
        $ref: "#/components/requestBodies/CreateGroupBody"
      responses:
        "200":
          $ref: "#/components/responses/GroupResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /groups/{group_id}:
    get:
      summary: "Fetch a specific group"
      operationId: "ShowGroup"
      tags:
        - "group"
      parameters:
        - $ref: "#/components/parameters/GroupParam"
      responses:
        "200":
          $ref: "#/components/responses/GroupResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update a specific group"
      operationId: "UpdateGroup"
      tags:
        - "group"
      parameters:
        - $ref: "#/components/parameters/GroupParam"
      requestBody:
        $ref: "#/components/requestBodies/UpdateGroupBody"
      responses:
        "200":
          $ref: "#/components/responses/GroupResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Delete a specific group"
      operationId: "DeleteGroup"
      tags:
        - "group"
      parameters:
        - $ref: "#/components/parameters/GroupParam"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "400":
          $ref: "#/components/responses/ActionFailedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /groups/{group_id}/users:
    get:
      summary: "Fetch all users attached to group"
      operationId: "ListGroupUsers"
      tags:
        - "group"
      parameters:
        - $ref: "#/components/parameters/GroupParam"
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/GroupUsersResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Attach a user to group"
      operationId: "AttachGroupToUser"
      tags:
        - "group"
      parameters:
        - $ref: "#/components/parameters/GroupParam"
      requestBody:
        $ref: "#/components/requestBodies/GroupUserPermBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/AlreadyAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update user perms for group"
      operationId: "PermitGroupUser"
      tags:
        - "group"
      parameters:
        - $ref: "#/components/parameters/GroupParam"
      requestBody:
        $ref: "#/components/requestBodies/GroupUserPermBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Unlink a user from group"
      operationId: "DeleteGroupFromUser"
      tags:
        - "group"
      parameters:
        - $ref: "#/components/parameters/GroupParam"
      requestBody:
        $ref: "#/components/requestBodies/GroupUserDropBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /groups/{group_id}/mods:
    get:
      summary: "Fetch all mods attached to group"
      operationId: "ListGroupMods"
      tags:
        - "group"
      parameters:
        - $ref: "#/components/parameters/GroupParam"
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/GroupModsResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Attach a mod to group"
      operationId: "AttachGroupToMod"
      tags:
        - "group"
      parameters:
        - $ref: "#/components/parameters/GroupParam"
      requestBody:
        $ref: "#/components/requestBodies/GroupModPermBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/AlreadyAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update mod perms for group"
      operationId: "PermitGroupMod"
      tags:
        - "group"
      parameters:
        - $ref: "#/components/parameters/GroupParam"
      requestBody:
        $ref: "#/components/requestBodies/GroupModPermBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Unlink a mod from group"
      operationId: "DeleteGroupFromMod"
      tags:
        - "group"
      parameters:
        - $ref: "#/components/parameters/GroupParam"
      requestBody:
        $ref: "#/components/requestBodies/GroupModDropBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /groups/{group_id}/packs:
    get:
      summary: "Fetch all packs attached to group"
      operationId: "ListGroupPacks"
      tags:
        - "group"
      parameters:
        - $ref: "#/components/parameters/GroupParam"
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/GroupPacksResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Attach a pack to group"
      operationId: "AttachGroupToPack"
      tags:
        - "group"
      parameters:
        - $ref: "#/components/parameters/GroupParam"
      requestBody:
        $ref: "#/components/requestBodies/GroupPackPermBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/AlreadyAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update pack perms for group"
      operationId: "PermitGroupPack"
      tags:
        - "group"
      parameters:
        - $ref: "#/components/parameters/GroupParam"
      requestBody:
        $ref: "#/components/requestBodies/GroupPackPermBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Unlink a pack from group"
      operationId: "DeleteGroupFromPack"
      tags:
        - "group"
      parameters:
        - $ref: "#/components/parameters/GroupParam"
      requestBody:
        $ref: "#/components/requestBodies/GroupPackDropBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /users:
    get:
      summary: "Fetch all available users"
      operationId: "ListUsers"
      tags:
        - "user"
      parameters:
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/UsersResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Create a new user"
      operationId: "CreateUser"
      tags:
        - "user"
      requestBody:
        $ref: "#/components/requestBodies/CreateUserBody"
      responses:
        "200":
          $ref: "#/components/responses/UserResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /users/{user_id}:
    get:
      summary: "Fetch a specific user"
      operationId: "ShowUser"
      tags:
        - "user"
      parameters:
        - $ref: "#/components/parameters/UserParam"
      responses:
        "200":
          $ref: "#/components/responses/UserResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update a specific user"
      operationId: "UpdateUser"
      tags:
        - "user"
      parameters:
        - $ref: "#/components/parameters/UserParam"
      requestBody:
        $ref: "#/components/requestBodies/UpdateUserBody"
      responses:
        "200":
          $ref: "#/components/responses/UserResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Delete a specific user"
      operationId: "DeleteUser"
      tags:
        - "user"
      parameters:
        - $ref: "#/components/parameters/UserParam"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "400":
          $ref: "#/components/responses/ActionFailedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /users/{user_id}/groups:
    get:
      summary: "Fetch all groups attached to user"
      operationId: "ListUserGroups"
      tags:
        - "user"
      parameters:
        - $ref: "#/components/parameters/UserParam"
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/UserGroupsResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Attach a group to user"
      operationId: "AttachUserToGroup"
      tags:
        - "user"
      parameters:
        - $ref: "#/components/parameters/UserParam"
      requestBody:
        $ref: "#/components/requestBodies/UserGroupPermBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/AlreadyAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update group perms for user"
      operationId: "PermitUserGroup"
      tags:
        - "user"
      parameters:
        - $ref: "#/components/parameters/UserParam"
      requestBody:
        $ref: "#/components/requestBodies/UserGroupPermBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Unlink a group from user"
      operationId: "DeleteUserFromGroup"
      tags:
        - "user"
      parameters:
        - $ref: "#/components/parameters/UserParam"
      requestBody:
        $ref: "#/components/requestBodies/UserGroupDropBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /users/{user_id}/mods:
    get:
      summary: "Fetch all mods attached to user"
      operationId: "ListUserMods"
      tags:
        - "user"
      parameters:
        - $ref: "#/components/parameters/UserParam"
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/UserModsResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Attach a mod to user"
      operationId: "AttachUserToMod"
      tags:
        - "user"
      parameters:
        - $ref: "#/components/parameters/UserParam"
      requestBody:
        $ref: "#/components/requestBodies/UserModPermBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/AlreadyAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update mod perms for user"
      operationId: "PermitUserMod"
      tags:
        - "user"
      parameters:
        - $ref: "#/components/parameters/UserParam"
      requestBody:
        $ref: "#/components/requestBodies/UserModPermBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Unlink a mod from user"
      operationId: "DeleteUserFromMod"
      tags:
        - "user"
      parameters:
        - $ref: "#/components/parameters/UserParam"
      requestBody:
        $ref: "#/components/requestBodies/UserModDropBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /users/{user_id}/packs:
    get:
      summary: "Fetch all packs attached to user"
      operationId: "ListUserPacks"
      tags:
        - "user"
      parameters:
        - $ref: "#/components/parameters/UserParam"
        - $ref: "#/components/parameters/SearchQueryParam"
        - $ref: "#/components/parameters/SortColumnParam"
        - $ref: "#/components/parameters/SortOrderParam"
        - $ref: "#/components/parameters/PagingLimitParam"
        - $ref: "#/components/parameters/PagingOffsetParam"
      responses:
        "200":
          $ref: "#/components/responses/UserPacksResponse"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: "Attach a pack to user"
      operationId: "AttachUserToPack"
      tags:
        - "user"
      parameters:
        - $ref: "#/components/parameters/UserParam"
      requestBody:
        $ref: "#/components/requestBodies/UserPackPermBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/AlreadyAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: "Update pack perms for user"
      operationId: "PermitUserPack"
      tags:
        - "user"
      parameters:
        - $ref: "#/components/parameters/UserParam"
      requestBody:
        $ref: "#/components/requestBodies/UserPackPermBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: "Unlink a pack from user"
      operationId: "DeleteUserFromPack"
      tags:
        - "user"
      parameters:
        - $ref: "#/components/parameters/UserParam"
      requestBody:
        $ref: "#/components/requestBodies/UserPackDropBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/NotAuthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/NotAttachedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

components:
  securitySchemes:
    Header:
      type: apiKey
      in: header
      name: X-API-Key
    Bearer:
      type: http
      scheme: bearer
    Basic:
      type: http
      scheme: basic

  parameters:
    SearchQueryParam:
      name: "search"
      in: "query"
      required: false
      schema:
        type: "string"
      description: "Search query"

    PagingLimitParam:
      name: "limit"
      in: "query"
      required: false
      schema:
        type: "integer"
        default: 100
      description: "Paging limit"
      x-example: 100
    PagingOffsetParam:
      name: "offset"
      in: "query"
      required: false
      schema:
        type: "integer"
        default: 0
      description: "Paging offset"
      x-example: 0

    SortColumnParam:
      name: "sort"
      in: "query"
      required: false
      schema:
        type: "string"
      description: "Sorting column"
    SortOrderParam:
      name: "order"
      in: "query"
      required: false
      schema:
        type: "string"
        default: "asc"
        enum:
          - "asc"
          - "desc"
      description: "Sorting order"
      x-example: "desc"

    AuthProviderParam:
      in: "path"
      name: "provider"
      description: "An identifier for the auth provider"
      schema:
        type: "string"
      required: true
      x-example: "github"
    AuthStateParam:
      name: "state"
      in: "query"
      required: false
      schema:
        type: "string"
      description: "Auth state"
    AuthCodeParam:
      name: "code"
      in: "query"
      required: false
      schema:
        type: "string"
      description: "Auth code"

    MinecraftParam:
      in: "path"
      name: "minecraft_id"
      description: "A minecraft identifier or slug"
      schema:
        type: "string"
      required: true
      x-example: "minecraft-1"
      x-go-name: "MinecraftID"
    ForgeParam:
      in: "path"
      name: "forge_id"
      description: "A forge identifier or slug"
      schema:
        type: "string"
      required: true
      x-example: "forge-1"
      x-go-name: "ForgeID"
    NeoforgeParam:
      in: "path"
      name: "neoforge_id"
      description: "A neoforge identifier or slug"
      schema:
        type: "string"
      required: true
      x-example: "neoforge-1"
      x-go-name: "NeoforgeID"
    QuiltParam:
      in: "path"
      name: "quilt_id"
      description: "A quilt identifier or slug"
      schema:
        type: "string"
      required: true
      x-example: "quilt-1"
      x-go-name: "QuiltID"
    FabricParam:
      in: "path"
      name: "fabric_id"
      description: "A fabric identifier or slug"
      schema:
        type: "string"
      required: true
      x-example: "fabric-1"
      x-go-name: "FabricID"

    ModParam:
      in: "path"
      name: "mod_id"
      description: "A mod identifier or slug"
      schema:
        type: "string"
      required: true
      x-example: "mod-1"
      x-go-name: "ModID"
    VersionParam:
      in: "path"
      name: "version_id"
      description: "A version identifier or slug"
      schema:
        type: "string"
      required: true
      x-example: "version-1"
      x-go-name: "VersionID"

    PackParam:
      in: "path"
      name: "pack_id"
      description: "A pack identifier or slug"
      schema:
        type: "string"
      required: true
      x-example: "pack-1"
      x-go-name: "PackID"
    BuildParam:
      in: "path"
      name: "build_id"
      description: "A build identifier or slug"
      schema:
        type: "string"
      required: true
      x-example: "build-1"
      x-go-name: "BuildID"

    GroupParam:
      in: "path"
      name: "group_id"
      description: "A group identifier or slug"
      schema:
        type: "string"
      required: true
      x-example: "group-1"
      x-go-name: "GroupID"
    UserParam:
      in: "path"
      name: "user_id"
      description: "A user identifier or slug"
      schema:
        type: "string"
      required: true
      x-example: "jdoe"
      x-go-name: "UserID"

  requestBodies:
    RedirectAuthBody:
      description: "The redirect token to authenticate"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            required:
              - "token"
            properties:
              token:
                type: "string"

    LoginAuthBody:
      description: "The credentials to authenticate"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            required:
              - "username"
              - "password"
            properties:
              username:
                type: "string"
              password:
                type: "string"
                format: "password"

    UpdateProfileBody:
      description: "The profile data to update"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            properties:
              username:
                type: "string"
                x-omitempty: true
                x-nullable: true
              password:
                type: "string"
                format: "password"
                x-omitempty: true
                x-nullable: true
              email:
                type: "string"
                x-omitempty: true
                x-nullable: true
              fullname:
                type: "string"
                x-omitempty: true
                x-nullable: true

    MinecraftBuildBody:
      description: "The minecraft build data to create or update"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            required:
              - "pack"
              - "build"
            properties:
              pack:
                type: "string"
                x-omitempty: true
                x-nullable: true
              build:
                type: "string"
                x-omitempty: true
                x-nullable: true
    ForgeBuildBody:
      description: "The forge build data to create or update"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            required:
              - "pack"
              - "build"
            properties:
              pack:
                type: "string"
                x-omitempty: true
                x-nullable: true
              build:
                type: "string"
                x-omitempty: true
                x-nullable: true
    NeoforgeBuildBody:
      description: "The neoforge build data to create or update"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            required:
              - "pack"
              - "build"
            properties:
              pack:
                type: "string"
                x-omitempty: true
                x-nullable: true
              build:
                type: "string"
                x-omitempty: true
                x-nullable: true
    QuiltBuildBody:
      description: "The quilt build data to create or update"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            required:
              - "pack"
              - "build"
            properties:
              pack:
                type: "string"
                x-omitempty: true
                x-nullable: true
              build:
                type: "string"
                x-omitempty: true
                x-nullable: true
    FabricBuildBody:
      description: "The fabric build data to create or update"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            required:
              - "pack"
              - "build"
            properties:
              pack:
                type: "string"
                x-omitempty: true
                x-nullable: true
              build:
                type: "string"
                x-omitempty: true
                x-nullable: true

    CreateModBody:
      description: "The mod data to create"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            properties:
              slug:
                type: "string"
                x-omitempty: true
                x-nullable: true
              name:
                type: "string"
                x-omitempty: true
                x-nullable: true
              side:
                type: "string"
                x-omitempty: true
                x-nullable: true
              description:
                type: "string"
                x-omitempty: true
                x-nullable: true
              author:
                type: "string"
                x-omitempty: true
                x-nullable: true
              website:
                type: "string"
                x-omitempty: true
                x-nullable: true
              donate:
                type: "string"
                x-omitempty: true
                x-nullable: true
              public:
                type: "boolean"
                x-omitempty: true
                x-nullable: true
    UpdateModBody:
      description: "The mod data to update"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            properties:
              slug:
                type: "string"
                x-omitempty: true
                x-nullable: true
              name:
                type: "string"
                x-omitempty: true
                x-nullable: true
              side:
                type: "string"
                x-omitempty: true
                x-nullable: true
              description:
                type: "string"
                x-omitempty: true
                x-nullable: true
              author:
                type: "string"
                x-omitempty: true
                x-nullable: true
              website:
                type: "string"
                x-omitempty: true
                x-nullable: true
              donate:
                type: "string"
                x-omitempty: true
                x-nullable: true
              public:
                type: "boolean"
                x-omitempty: true
                x-nullable: true
    ModAvatarBody:
      description: "The mod avatar to upload"
      required: true
      content:
        multipart/form-data:
          schema:
            type: "object"
            properties:
              file:
                type: "string"
                format: "binary"
          encoding:
            file:
              contentType: "image/*"
              headers:
                content-disposition:
                  schema:
                    type: "string"
    ModUserPermBody:
      description: "The mod user data to permit"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            required:
              - "user"
              - "perm"
            properties:
              user:
                type: "string"
              perm:
                type: "string"
    ModUserDropBody:
      description: "The mod user data to unlink"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            required:
              - "user"
            properties:
              user:
                type: "string"
    ModGroupPermBody:
      description: "The mod group data to permit"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            required:
              - "group"
              - "perm"
            properties:
              group:
                type: "string"
              perm:
                type: "string"
    ModGroupDropBody:
      description: "The mod group data to unlink"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            required:
              - "group"
            properties:
              group:
                type: "string"

    CreateVersionBody:
      description: "The version data to create"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            properties:
              name:
                type: "string"
                x-omitempty: true
                x-nullable: true
              public:
                type: "boolean"
                x-omitempty: true
                x-nullable: true
              upload:
                type: "string"
                format: "data-url"
                x-omitempty: true
                x-nullable: true
    UpdateVersionBody:
      description: "The version data to update"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            properties:
              name:
                type: "string"
                x-omitempty: true
                x-nullable: true
              public:
                type: "boolean"
                x-omitempty: true
                x-nullable: true
              upload:
                type: "string"
                format: "data-url"
                x-omitempty: true
                x-nullable: true
    VersionBuildBody:
      description: "The version build data to create or delete"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            required:
              - "pack"
              - "build"
            properties:
              pack:
                type: "string"
                x-omitempty: true
                x-nullable: true
              build:
                type: "string"
                x-omitempty: true
                x-nullable: true

    CreatePackBody:
      description: "The pack data to create"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            properties:
              slug:
                type: "string"
                x-omitempty: true
                x-nullable: true
              name:
                type: "string"
                x-omitempty: true
                x-nullable: true
              website:
                type: "string"
                x-omitempty: true
                x-nullable: true
              public:
                type: "boolean"
                x-omitempty: true
                x-nullable: true
    UpdatePackBody:
      description: "The pack data to update"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            properties:
              slug:
                type: "string"
                x-omitempty: true
                x-nullable: true
              name:
                type: "string"
                x-omitempty: true
                x-nullable: true
              website:
                type: "string"
                x-omitempty: true
                x-nullable: true
              public:
                type: "boolean"
                x-omitempty: true
                x-nullable: true
    PackAvatarBody:
      description: "The pack avatar to upload"
      required: true
      content:
        multipart/form-data:
          schema:
            type: "object"
            properties:
              file:
                type: "string"
                format: "binary"
          encoding:
            file:
              contentType: "image/*"
              headers:
                content-disposition:
                  schema:
                    type: "string"
    PackUserPermBody:
      description: "The pack user data to permit"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            required:
              - "user"
              - "perm"
            properties:
              user:
                type: "string"
              perm:
                type: "string"
    PackUserDropBody:
      description: "The pack user data to unlink"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            required:
              - "user"
            properties:
              user:
                type: "string"
    PackGroupPermBody:
      description: "The pack group data to permit"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            required:
              - "group"
              - "perm"
            properties:
              group:
                type: "string"
              perm:
                type: "string"
    PackGroupDropBody:
      description: "The pack group data to unlink"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            required:
              - "group"
            properties:
              group:
                type: "string"

    CreateBuildBody:
      description: "The build data to create"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            properties:
              minecraft_id:
                type: "string"
                x-omitempty: true
                x-nullable: true
                x-go-name: "MinecraftID"
              forge_id:
                type: "string"
                x-omitempty: true
                x-nullable: true
                x-go-name: "ForgeID"
              neoforge_id:
                type: "string"
                x-omitempty: true
                x-nullable: true
                x-go-name: "NeoforgeID"
              quilt_id:
                type: "string"
                x-omitempty: true
                x-nullable: true
                x-go-name: "QuiltID"
              fabric_id:
                type: "string"
                x-omitempty: true
                x-nullable: true
                x-go-name: "FabricID"
              name:
                type: "string"
                x-omitempty: true
                x-nullable: true
              java:
                type: "string"
                x-omitempty: true
                x-nullable: true
              memory:
                type: "string"
                x-omitempty: true
                x-nullable: true
              latest:
                type: "boolean"
                x-omitempty: true
                x-nullable: true
              recommended:
                type: "boolean"
                x-omitempty: true
                x-nullable: true
              public:
                type: "boolean"
                x-omitempty: true
                x-nullable: true
    UpdateBuildBody:
      description: "The build data to update"
      required: true
      content:
        application/json:
          schema:
            type: "object"
            properties:
              minecraft_id:
[...]
