[Unit]
Description=Kleister API
Documentation=https://kleister.eu

Requires=network.target
After=network.target

[Service]
Type=simple
User=kleister
Group=kleister
EnvironmentFile=-/etc/default/kleister-api
EnvironmentFile=-/etc/sysconfig/kleister-api
ExecStart=/usr/bin/kleister-api server $KLEISTER_API_ARGS
WorkingDirectory=/var/lib/kleister
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
